<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{dashboard/layout.html}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">SB Admin 2</title>


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">



    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">



            <!-- Begin Page Content -->
            <div layout:fragment="content" class="container-fluid">

                <div class="container-fluid">

                    <h1 class="h3 mb-4 text-gray-800">Profil Məlumatları</h1>

                    <div class="row">

                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <div class="card-body text-center">
                                    <img class="img-profile rounded-circle mb-3" src="https://source.unsplash.com/QAB-WJcbgJk/150x150" style="width: 150px; height: 150px; object-fit: cover;">
                                    <h5 th:text="${adminProfile.firstName + ' ' + adminProfile.lastName}" class="font-weight-bold text-primary">Admin</h5>
                                    <p class="text-muted">Baş Admin</p>
                                    <button class="btn btn-sm btn-outline-primary">Şəkli Dəyiş</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Hesab Tənzimləmələri</h6>
                                </div>
                                <div class="card-body">
                                    <form method="post" >
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label class="small mb-1" for="username">İstifadəçi Adı</label>
                                                <input class="form-control" id="username" type="text" value="admin">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="small mb-1" for="email">E-poçt ünvanı</label>
                                                <input class="form-control" th:value="${adminProfile.email}" name="email" id="email" type="email" value="douglas@example.com">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label class="small mb-1" for="firstName">Ad</label>
                                                <input class="form-control" th:value="${adminProfile.firstName}" name="firstName" id="firstName" type="text" value="Douglas">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="small mb-1" for="lastName">Soyad</label>
                                                <input class="form-control" th:value="${adminProfile.lastName}" name="lastName" id="lastName" type="text" value="McGee">
                                            </div>
                                        </div>

                                        <hr class="my-4">

                                        <h6 class="heading-small text-muted mb-4">Şifrəni Yenilə</h6>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label class="small mb-1" for="password">Yeni Şifrə</label>
                                                <input class="form-control"  name="password" id="password" type="password">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="small mb-1" for="confirmPassword">Şifrənin Təkrarı</label>
                                                <input class="form-control" name="confirmPassword"  id="confirmPassword" type="password">
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" type="submit">Dəyişiklikləri Yadda Saxla</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


</body>

</html>