<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{auth/layout.html}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">SB Admin 2</title>


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">



    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">



            <!-- Begin Page Content -->
            <div layout:fragment="content" class="container">

                <div class="container">

                    <!-- Outer Row -->
                    <div class="row justify-content-center">

                        <div class="col-xl-10 col-lg-12 col-md-9">

                            <div class="card o-hidden border-0 shadow-lg my-5">
                                <div class="card-body p-0">
                                    <!-- Nested Row within Card Body -->
                                    <div class="row">
                                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                                        <div class="col-lg-6">
                                            <div class="p-5">
                                                <div class="text-center">
                                                    <h1 class="h4 text-gray-900 mb-2">OTP Code Verification</h1>
                                                    <p class="mb-4">Enter the OTP code sent to your email:</p>
                                                </div>
                                                <form method="post" class="user">
                                                    <div class="form-group">
                                                        <input th:value="${authResponseDto.email}" name="email" type="email" class="form-control form-control-user"
                                                               id="email" aria-describedby="emailHelp" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="otp" class="sr-only">OTP Code</label>
                                                        <input name="otp" type="text" class="form-control form-control-user"
                                                               id="otp" aria-describedby="otpHelp"
                                                               placeholder="Enter OTP...">
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <span class="small text-gray-600">
                                                            <p>OTP expires in <span id="otp-timer" style="color: red; font-weight: bold;">02:00</span></p>
                                                        </span>
                                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                                        Verify OTP Code
                                                    </button>
                                                    </div>

                                                    <div class="text-center">
                                                        <a class="small" href="/">Back to Home</a>
                                                    </div>
                                                </form>
                                                <hr>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


</body>

</html>